html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Mono', monospace;
  overflow: hidden;
}

body {
  background: rgba(200, 200, 200, 1); 
  position: relative;
  overflow-y: scroll;
}

body::before {
  content: "";
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 0;
  border: 2px solid #39ff14;
  border-bottom: none;  
  box-sizing: border-box;
  pointer-events: none;
  z-index: 9999;
}

.scroll-space {
  height: 2000vh; 
  padding: 20px;
  box-sizing: border-box;
  

  background: linear-gradient(to bottom, 
      rgba(160, 160, 160, 1) 0%,      
      rgba(100, 100, 100, 1) 25%,     
      rgba(50, 50, 50, 1) 50%,        
      rgba(25, 25, 25, 1) 75%,        
      rgba(0, 0, 0, 1) 100%);         
  background-size: cover;
  position: relative;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.shake-effect {
    animation: shake 0.3s ease-in-out;
}

#expandingTextarea {
  text-transform: uppercase;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  width: calc(100% - 40px);
  border: 2px solid #39ff14;  
  outline: none;
  font-size: 100px;
  color: #39ff14;
  background-color: transparent;
  resize: none;
  overflow: hidden; 
  white-space: pre-wrap;
  word-wrap: break-word;
  box-sizing: border-box;
  padding: 10px;
  margin: 0;
  line-height: 1.2;
  caret-color: #39ff14; 
  z-index: 2;
  padding-left: 40px;
  min-height: 120px; 
  max-height: 80vh;
}

textarea::placeholder {
    color: rgba(57, 255, 20, 0.3);
    line-height: 0.8;
}

.green-dot {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #39ff14;
  box-shadow: 0 0 20px #39ff14, 0 0 30px rgba(57, 255, 20, 0.5); 
  z-index: 1;
  opacity: 0.9;
  cursor: pointer;
  animation: fadeIn 0.5s ease-out, pulse 2s infinite alternate ease-in-out;
}

.dot-text {
  text-transform: uppercase;
  position: absolute;
  font-size: 24px;
  color: #39ff14;
  opacity: 0.9;
  white-space: pre-wrap;   
  word-wrap: break-word;   
  max-width: 300px; 
  padding: 10px;
  border: 2px solid #39ff14;
  z-index: 1000;
  animation: fadeIn 0.5s ease-out;
}

.timestamp {
    font-size: 24px;
    color: #39ff14;
    margin-top: 10px;
    display: block;
}

@keyframes pulse {
  0% {
      transform: scale(1);
      box-shadow: 0 0 20px #39ff14, 0 0 30px rgba(57, 255, 20, 0.5);
  }
  50% {
      transform: scale(1.2);
      box-shadow: 0 0 25px #39ff14, 0 0 40px rgba(57, 255, 20, 0.7);
  }
  100% {
      transform: scale(1);
      box-shadow: 0 0 20px #39ff14, 0 0 30px rgba(57, 255, 20, 0.5);
  }
}


@keyframes fadeIn {
  from {
      opacity: 0;
      transform: scale(0.5);
  }
  to {
      opacity: 0.9;
      transform: scale(1);
  }
}

#logo {
  position: fixed;
  top: 40px;
  left: 40px;
  font-size: 24px;
  color: #39ff14;
  z-index: 10000;
  display: flex;
  align-items: center;
  gap: 10px;
}

#logo .logo-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #39ff14;
  box-shadow: 0 0 20px #39ff14, 0 0 30px rgba(57, 255, 20, 0.5); 
  animation: pulse 2s infinite alternate ease-in-out;
}

#header-info {
  position: fixed;
  top: 40px;
  right: 40px;
  font-size: 24px;
  color: #39ff14;
  text-align: right;
  z-index: 10000;
  display: flex;
  gap: 45px;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Mono', monospace;
}

#current-time, #current-date, #header-text {
  white-space: nowrap;
}

#title-divider {
  position: fixed;
  top: 85px; 
  left: 20px;
  right: 20px;
  height: 2px;
  background-color: #39ff14;
  z-index: 9999;
  border: none;
  pointer-events: none;
}

@keyframes fadeIn {
  from {
    opacity: 0; 
    transform: translateY(-10px); 
  }
  to {
    opacity: 1; 
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

#logo-text {
  position: absolute;
  top: calc(85px + 20px);
  left: calc(40px + 25px); 
  font-size: 24px;
  color: #39FF14;
  line-height: 1.6;
  max-width: 1500px;
  z-index: 10000;
  white-space: normal;
  overflow-wrap: break-word;
  display: none; 
  opacity: 0; 
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#logo-text.show {
  display: block;
  animation: fadeIn 0.3s ease-in-out forwards;
}

#logo-text.hide {
  animation: fadeOut 0.3s ease-in-out forwards;
}

.logo-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #39ff14; 
  box-shadow: 0 0 20px #39ff14, 0 0 30px rgba(57, 255, 20, 0.5); 
  animation: pulse 2s infinite alternate ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 20px #39ff14, 0 0 30px rgba(57, 255, 20, 0.5);
  }
  50% {
    transform: scale(1.2);
    box-shadow: 0 0 25px #39ff14, 0 0 40px rgba(57, 255, 20, 0.7);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 20px #39ff14, 0 0 30px rgba(57, 255, 20, 0.5);
  }
}
